@using Kendo.Mvc.UI
@using Cr24.WebSite.DAL.Models
@model Cr24.WebSite.DAL.Models.ArticleModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}


<section class="gridAll">

    @(Html.Kendo().Grid<ArticleModel>()
    .Name("ArticleGrid")
    .HtmlAttributes(new { style = "height:500px;" }).Scrollable(a => a.Height("auto"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Hidden();
        columns.Bound(p => p.Title).Title("عنوان").HeaderHtmlAttributes(new { style = "text-align: center;" }).HtmlAttributes(new { style = "text-align: center;" }).Width(130);
        columns.Bound(p => p.Summary).Title("خلاصه").HeaderHtmlAttributes(new { style = "text-align: center;" }).HtmlAttributes(new { style = "text-align: center;" }).Width(130);
        columns.Bound(p => p.CreationDateStr).Title("تاریخ آخرین به روزرسانی").HeaderHtmlAttributes(new { style = "text-align: center;" }).HtmlAttributes(new { style = "text-align: center;" }).Width(130);
        columns.Bound(p => p.Category).Title("دسته").HeaderHtmlAttributes(new { style = "text-align: center;" }).HtmlAttributes(new { style = "text-align: center;" }).Width(130);
        columns.Bound(u => u.FileId).Title("دانلود فایل").HeaderHtmlAttributes(new { style = "text-align: center;" }).ClientTemplate("#=GetImage(data.Id)#").HtmlAttributes(new { style = "text-align: center; display: flex; justify-content: center; align-items: flex-start;" }).Width(90);

    })
    .Selectable(s => s.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
    .Refresh(true)
    .ButtonCount(5)
    )
    .ToolBar(toolbar =>
    {
        toolbar.Custom()
            .HtmlAttributes(new { id = "addEntity", style = "font-weight:bold;" })
            .Name("New")
            .Text("جدید")
            .IconClass("k-icon k-i-add")
            .Url("#");
    })
    .DataSource(dataSource => dataSource
    .Ajax()
    .Read(read => read.Action("GetAllArticle", "Article"))
    .PageSize(15)
    )

    )

    <div>
        <div class="k-rtl">
            @(Html.Kendo().Window().Modal(true)
                          .Name("ArticlePopup")
                          .Visible(false)
                          .Actions(action => action.Close())
                          .Title("جزئیات مقاله")
                          .Content(@<div id="ArticleModal">
                                   </div>)
                          .Width(700))
        </div>
    </div>

</section>
<script>


    $(document).ready(function () {

        ArticleWindow = $("#ArticlePopup").data("kendoWindow");

    });
    //fileDownload------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    function GetImage(id) {

        @*if (image != null && image !== "") {
            var returnString = "";
            dict.push({
                    key:   "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    value: "docx"
                },
                {
                    key:   "application/msword",
                    value: "doc"
                },
                {
                    key:   "application/vnd.ms-excel",
                    value: "xls"
                },
                {
                    key:   "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    value: "xlsx"
                },
                {
                    key:   "application/pdf",
                    value: "pdf"
                },
                {
                    key:   "image/png",
                    value: "png"
                },
                {
                    key:   "image/jpeg",
                    value: "jpg"
                },
                {
                    key:   "image/svg+xml",
                    value: "svg"
                },
                {
                    key: "video/mp4",
                    value: "mp4"
                },
                {
                    key: "application/octet-stream",
                    value: "rar"
                },
                {
                    key: "audio/mpeg",
                    value: "mp3"
                },
                {
                    key: "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                    value: "pptx"
                },
                {
                    key:   "image/tiff",
                    value: "tiff"
                });

            var type = "";

            for (var i = 0; i < dict.length ; i++) {
                if (dict[i].key == image)
                    type = dict[i].value;
            }

            switch (type) {
            case "png":
            case "jpg":
            case "tiff":
            case "tif":
            case "svg":
            case "bmp":

                returnString = '<img src="@Url.Content("~/Content/Images/image.png")" title=\"image\" height=\"50\" alt=\"image\"/> <a />';
                    break;

            case "mp4":
            case "mkv":
            case "mov":

                returnString = '<img src="@Url.Content("~/Content/Images/multimedia.png")" title=\"image\" height=\"50\" alt=\"image\"/> <a />';
                break;

            case "docx":
            case "doc":
            case "txt":

                returnString = '<img src="@Url.Content("~/Content/Images/microsoftword.png")" title=\"image\" height=\"50\" alt=\"image\"/>';
                break;

            case "xlsx":
            case "xls":
                returnString = '<img src="@Url.Content("~/Content/Images/microsoftexcel.png")" title=\"image\" height=\"50\" alt=\"image\"/>';
                break;

            case "pdf":
                    returnString = '<img src="@Url.Content("~/Content/Images/PDF.png")" title=\"image\" height=\"50\"  alt=\"image\"/>';
                    break;


            case "rar":
                    returnString = '<img src="@Url.Content("~/Content/Images/rar-file-format.png")" title=\"image\" height=\"50\"  alt=\"image\"/>';
                break;

            case "mp3":
                    returnString = '<img src="@Url.Content("~/Content/Images/voice-recorder.png")" title=\"image\" height=\"50\"  alt=\"image\"/>';
                break;

            case "pptx":
            case "ppsx":
                    returnString = '<img src="@Url.Content("~/Content/Images/power.png")" title=\"image\" height=\"50\"  alt=\"image\"/>';
                break;

            }*@
        console.log(id);
        returnString = '<img src="@Url.Content("~/Content/Images/power.png")" title=\"image\" height=\"50\"  alt=\"image\"/>';
        returnString = returnString + '<a style="margin-right: 10px; height: 20px; width: 20px; background: red;" href=/Attachment/GetFileById?id=' + id + '>' + '<i class="fa fa-download" aria-hidden="true"></i></a>';
            return returnString;

    }
    //NewArticle----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    function OpenArticleModal() {
        ArticleWindow.open();
        ArticleWindow.center();
    };
     function LoadArticleInfo() {
        $("#ArticleModal").load("@Url.Action("ArticleDetailInfo", "Article")", function () { });
    };

    $("#addEntity").click(function () {

        OpenArticleModal();
        LoadArticleInfo();
    });

    function Ref() {

        $('#ArticleGrid').data('kendoGrid').dataSource.data([]);
        $('#ArticleGrid').data('kendoGrid').dataSource.read();
        $('#ArticleGrid').data('kendoGrid').refresh();

    }
</script>